
@{
    ViewBag.Title = "HavaKart";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<br />
<a class="weatherwidget-io" href="https://forecast7.com/tr/41d0128d98/istanbul/" data-label_1="İSTANBUL" data-label_2="Hava Durumu" data-theme="original">İSTANBUL Hava Durumu</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<br />
<a class="weatherwidget-io" href="https://forecast7.com/tr/37d0737d38/gaziantep/" data-label_1="GAZIANTEP" data-label_2="Hava Durumu" data-theme="original">GAZIANTEP Hava Durumu</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<br />
<a class="weatherwidget-io" href="https://forecast7.com/tr/40d5929d16/yalova-province/" data-label_1="YALOVA" data-label_2="Hava Durumu" data-theme="original">YALOVA Hava Durumu</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<br />
<a class="weatherwidget-io" href="https://forecast7.com/tr/40d1929d06/bursa/" data-label_1="BURSA" data-label_2="Hava Durumu" data-theme="original">BURSA Hava Durumu</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<br />
<a class="weatherwidget-io" href="https://forecast7.com/tr/36d9030d71/antalya/" data-label_1="ANTALYA" data-label_2="Hava Durumu" data-theme="original">ANTALYA Hava Durumu</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<br />
<a class="weatherwidget-io" href="https://forecast7.com/tr/36d6333d62/mersin-province/" data-label_1="MERSIN" data-label_2="Hava Durumu" data-theme="original">MERSIN Hava Durumu</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<br />

<!-- weather widget start --><!--<a target="_blank" href="https://bookeder.com/weather/istanbul-18319"><img src="https://w.bookcdn.com/weather/picture/32_18319_1_21_34495e_250_2c3e50_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=765&anc_id=60839" alt="booked.net" /></a>--><!-- weather widget end -->
<!-- weather widget start --><!--<a target="_blank" href="https://bookeder.com/weather/adana-9905"><img src="https://w.bookcdn.com/weather/picture/32_9905_1_21_34495e_250_2c3e50_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=765&anc_id=81713" alt="booked.net" /></a>--><!-- weather widget end -->
<!-- weather widget start --><!--<a target="_blank" href="https://bookeder.com/weather/gaziantep-11304"><img src="https://w.bookcdn.com/weather/picture/32_11304_1_21_34495e_250_2c3e50_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=765&anc_id=85371" alt="booked.net" /></a>--><!-- weather widget end -->
<!-- weather widget start --><!--<a target="_blank" href="https://bookeder.com/weather/kahramanmaras-37261"><img src="https://w.bookcdn.com/weather/picture/32_37261_1_21_34495e_250_2c3e50_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=765&anc_id=462" alt="booked.net" /></a>--><!-- weather widget end -->
<!-- weather widget start --><!--<a target="_blank" href="https://bookeder.com/weather/bursa-9592"><img src="https://w.bookcdn.com/weather/picture/32_9592_1_21_34495e_250_2c3e50_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=765&anc_id=30608" alt="booked.net" /></a>--><!-- weather widget end -->
<!-- weather widget start --><!--<a target="_blank" href="https://bookeder.com/weather/yalova-35896"><img src="https://w.bookcdn.com/weather/picture/32_35896_1_21_34495e_250_2c3e50_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=765&anc_id=67740" alt="booked.net" /></a>--><!-- weather widget end -->
<!-- weather widget start --><!--<a target="_blank" href="https://bookeder.com/weather/izmir-18523"><img src="https://w.bookcdn.com/weather/picture/32_18523_1_21_34495e_250_2c3e50_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=765&anc_id=72936" alt="booked.net" /></a>--><!-- weather widget end -->
<!-- weather widget start --><!--<a target="_blank" href="https://bookeder.com/weather/manisa-35887"><img src="https://w.bookcdn.com/weather/picture/32_35887_1_21_34495e_250_2c3e50_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=765&anc_id=23211" alt="booked.net" /></a>--><!-- weather widget end -->
<!-- weather widget start --><!--<a target="_blank" href="https://bookeder.com/weather/mugla-33382"><img src="https://w.bookcdn.com/weather/picture/32_33382_1_21_34495e_250_2c3e50_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=765&anc_id=74714" alt="booked.net" /></a>--><!-- weather widget end -->
<!-- weather widget start --><!--<a target="_blank" href="https://bookeder.com/weather/antalya-893"><img src="https://w.bookcdn.com/weather/picture/32_893_1_21_34495e_250_2c3e50_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=765&anc_id=85560" alt="booked.net" /></a>--><!-- weather widget end -->
<!-- weather widget start --><!--<a target="_blank" href="https://bookeder.com/weather/icel-w273216"><img src="https://w.bookcdn.com/weather/picture/32_w273216_1_21_34495e_250_2c3e50_ffffff_ffffff_1_2071c9_ffffff_0_6.png?scode=124&domid=765&anc_id=68854" alt="booked.net" /></a>--><!-- weather widget end -->