@using Kutuphane.Models.Entity
@model List<tblDuyurular>
    @foreach (var x in Model)
    {
<div class="post">
    <div class="user-block">
        <img class="img-circle img-bordered-sm" src="~/AdminLTE-3.0.4/dist/img/2.png" alt="user image">
        <span class="username">
            <a href="#">@x.Kategori</a>
            <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
        </span>
        <span class="description">@x.Tarih.ToString()</span>
    </div>
    <!-- /.user-block -->
    <p>
        @x.İçerik
    </p>
</div>
    }